pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
Flask
# -e . # this will automatically trigger setup.py file, and this line comes in extras because its not a package so we have to eliminate it from reading in our function (get_requirements)